VITE_API_BASE_URL=http://127.0.0.1:8000/api/v1
VITE_API_KEY=demo-testing-token-123 ## (dummy token for testing that you can use as it is in .env for testing this app, because it's not sensitive one that's why added in .env.example file)  ← must match backend API_TOKEN