APP_NAME=WalletLedger
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=wallet_db
DB_USERNAME=root
DB_PASSWORD=root

## (dummy token for testing that you can use as it is in .env for testing this app, because it's not sensitive one that's why added in .env.example file)
API_TOKEN=demo-testing-token-123 

SESSION_DRIVER=file
CACHE_DRIVER=file